@import '../utilities/variables';
.jobs-page {
    margin: 0 25px;
    li {
        list-style: none;
    }
    h3 {
        color: #2c5e7e;
    }
    .list-items {
        text-align: left;
        color: #4e4c4a;
        font-weight: 600;
        height: auto;
        font-size: 15px;
    }
}

.job-listing-container {
    padding: 5px 0;
    border-bottom: 2px solid #F1F1F1;
    li {
        text-transform: capitalize;
        
    }
}
.job-title {
    display: inline;
    color: #2c5e7e;
    text-decoration: none !important;
    &:hover {
        color: #274d64;
    }
}
.short-description {
    text-transform: none;
    margin-top: 20px;
}
.jobs-info {
    display: flex;
    justify-content: space-between;
}
.jobs-icons {
    display: flex;
}
.light-text {
    display: block;
    font-size: 15px;
    font-weight: normal;
    height: 25px;
    line-height: 25px;
    color: #b2b2b2;
}

.if-new {
    vertical-align: middle;
    display: inline-block;
    background-color: #f1f3f4;
    border-radius: 5px;
    padding: 0 5px;
    margin-left: 10px;
    color: white;
}