$small: 576px;
$medium: 768px;
$large: 992px;
$extraLarge: 1200px;

//max heights
@media (max-width: $medium) {
  .job-count-search {
    display: none;
  }
  
}

// Small devices (landscape phones, 576px and up)
@media (min-width: $small) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: $medium) { 
    .left {
        width: 100%;
        overflow-y: hidden;
    }
    .right {
    display: none;
    }
    .apply-button2 {
    display: none;
    }
    .flyout-container {
      // -webkit-transition: all 49900ms ease;
      // -moz-transition: all 49900ms ease;
      // -o-transition: all 49900ms ease;
      // transition: all 49900ms ease;
      width: 100vw !important;
    }
    .flyout-footer {
    display: block;
    }
    .flyout-container {
    width: 75% !important;
    }
  .job-count {
    display: none;
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: $large) { 
  .flyout-container {
    transition: all 1s ease;
  }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $extraLarge) {  }

  
  @media print {
    #flyout-container {
      width: 100%;
      border-left: none;
      width: 100vw !important;
      border-left: none;
    }
    .flyout-header {
      display: none;
    }
  }
