@import './variables';
html[data-theme='dark'] {
    background-color: $darkmode-bg-dark;
    color: white;
    nav {
        background-color: $darkmode-bg-dark;
    }
    .App, .d, .jobs-page, .flyout-main {
        background-color: $darkmode-bg-lighter;
        color: white;
    }
    .flyout-header, .bg-dark {
        background-color: $darkmode-bg-dark !important;
    }
    .contents, .flyout-footer  {
        background-color: $darkmode-bg-dark;
        color: white;
    }
    .list-item, .job-count, .date-posted {
        color: $darkmode-color
    }
    .short-description {
        color: rgb(170, 180, 190);
    }
    .theme-selector {
        border: $primary-border-color;
    }
    .flyout-icon, .flyout-body {
        color: $darkmode-color;
    }
    .flyout-body, .flyout-footer, .flyout-container {
        background-color: $darkmode-bg-lighter;
    }
    .job-title {
        color: #8ab4f8;;
    }
    .job-listing-container {
        padding: 5px 0;
        border-bottom: 2px solid $darkmode-color;
    }
    .theme-selector {
        background-color: $darkmode-bg-lighter;
    }
    .if-new {
        background-color: #355f79;
    }
    .job-search {
        &:focus {
            background-color: rgb(30, 40, 46, 0.1);
        }
    }
    .footer {
        background-color: $darkmode-bg-dark;
    }
    .form-control, .ck {
        background-color: $darkmode-bg-lighter;
        color: white;
    }
    .ck-toolbar__items {
        background-color: $darkmode-bg-dark;
        color: white;
    }
    .ck-button__icon, .ck-icon {
        color: white;
    }
    .ck-content p, .ck-content {
        background-color: green;
    }
    .ck-editor__main > * {
        background-color: yellow;
    }
}


// toggle
input[type="checkbox"] {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  label {
    width: 60px;
    height: 30px;
    display:block;
    background-color: #477a85;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 0 20px #477a8550;
  }
  label::after {
    content: "";
    width: 25px;
    height: 25px;
    background-color: #e8f5f7;
    position: absolute;
    border-radius: 70px;
    top: 2.7px;
    left: 2.5px;
    transition: 0.25s;
  }
  
  input:checked + label:after {
    left: calc(100% - 2.5px);
    transform: translateX(-100%);
  }
  
  input:checked + label {
    background-color: #243d42;
  }
  
//   label:active:after {
//     width: 160px;
//   }