.App {
  /* text-align: center; */
}
html {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ck-editor__editable {
  min-height: 250px;
}

.draft {
  border: solid 2px lightblue;
  padding: 0 12px;
}


.app {
 height: 100vh; 
}

.content-row {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  margin: 5 10px;
  position: relative;
  /* justify-content: baseline; */
  /* flex-wrap: wrap; */
  
}

.left {
  border: solid 1px whitesmoke;
  /* background: red; */
  width: 100%;
  flex-wrap: wrap;
  margin: 10px;
  height: calc(100vh - 15px);

  

}
.right {
  /* border: solid 1px gray; */
  flex: 1;
  height: 70vh;
  overflow-y: scroll;
  height: calc(100vh - 208px);
  margin: 10px;
  /* position: relative; */
  height: calc(100vh - 208px);
  /* position: -webkit-sticky; */
  position: sticky;
  top: 0;
  height: 70vh;

}
.content-scroll {

  
}
.center {
  text-align: center;
}


.card {
  border: 1px solid #dfe1e5;;
  border-radius: 10px;
}
.card:hover {
  cursor: pointer;

}

.fly-out-content {
  cursor: pointer;

}


.badge2 {
  margin: 65px;
}

.search-bar {
  margin: 10px;
  text-align: center;
}
.search {
  padding: 10px;
  width: 400px;
  height: 50px;
  outline: none;
  border-radius: 10px;


}
.btn {
  background-color: #2457A6;
}


/* deletee */
div.flyout-container {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  /* width: calc(100vw - 5vw); */
  background-color: #FFFFFF;
  height: 100%;
  z-index: 11;
  overflow: scroll;

  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  border-left: 2px solid whitesmoke;
}

.flyout-header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 56px;
  width: 100%;
  padding: 0;
  background-color: white; 
  padding: 17px 15px 20px 22px;
  box-shadow: 0px 0px 20px 1px gray;

}
.flyout-header-left, .flyout-header-right {
  display: flex;
  background-color: red;

}
.flyout-icon {
  margin: 15px;

}

.flyout-body {
  position: static;
  padding: 17px 15px 20px 22px;
  margin-bottom: 45px !important;
  overflow: scroll;
}
.flyout-title {
  margin: 9px 0 25px 0;
  font-size: 26px;
  font-weight: normal;
  line-height: 1.1;
  color: #2c5e7e;
}

.flyout-footer {
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0;
  border-top: 1px solid #d3d3d1;
  box-shadow: 0 0 8px rgb(0 0 0 / 15%);
  text-align: center;
  background-color: white;
  display: none;
}
.apply-button {
  margin: 15px 0;
  padding: 5 15px;
  margin-bottom: 30px;
  background-color: #588204;
}
.apply-button2 {
  background-color: #588204;
  border-radius: .25rem;
  color: white !important;
  padding: 5px 15px;
  text-align: center;

}
.apply-button2:hover {
  cursor: pointer;
  transform: scale(1.5); 
}

.flyout-icon {
  font-size: 19px;
  transition: transform .15s;
}
.flyout-icon:hover {
  transform: scale(1.25);
}

.flyout-icon {
  margin: 2px;
}
.apply-button {
  padding: 5px 20px;


}
@media (max-width: 768px) {
  .left {
    width: 100%;
    overflow-y: hidden;
  }
  .right {
    display: none;
  }
  .apply-button2 {
    display: none;
  }
  .flyout-container {
    width: 100vw !important;
  }
  .flyout-footer {
    display: block;
  }

}
@media (min-width: 769px) {
  .flyout-container {
    width: 75% !important;
  }
}

@media print {
  #flyout-container {
    width: 100%;
    border-left: none;
    width: 100vw !important;
    border-left: none;
  }
  .flyout-header {
    display: none;
  }
}

